/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
  height: inherit;
}

body {
  font-family: "DroidSans", "Helvetica", "Arial", "sans serif";
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
  flex-direction: column;
}
h1 {
  font-size: 25px;
  color: #d63222;
  text-decoration: underline;
}
.section {
  margin: 10px 0px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.section .title {
  color: #d63222;
  font-weight: bold;
  margin-bottom: 5px;
}
.inputline {
  display: flex;
  padding: 2px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border-top: 1px solid #b1b1b1;
}
label {
  width: 80px;
  flex-grow: 0;
  flex-shrink: 0;
}
input {
  width: 40px;
  flex-grow: 1;
  flex-shrink: 1;
  border: 0;
  padding: 3px 5px;
  margin: 0px 5px;
}
svg {
  align-self: center;
  zoom: 2;
  background: #fff;
}
pre {
  align-self: center;
  white-space: pre-wrap;
}
